.contacts {
  @include container;
  padding-top: 45px;
  text-align: center;
}

.contacts__promo {
  margin-bottom: 35px;
}

.contacts__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacts__item {
  margin-bottom: 20px;
  flex-basis: $container-width;
  flex-grow: 1;

  &:nth-child(2) a {
    transition: color 0.3s;

    &:hover {
      color: $grey;
      text-decoration: underline;
    }

    &:active {
      color: $grey;
      opacity: 0.3;
      text-decoration: none;
    }
  }
}

.contacts__title {
  font-size: 18px;
}

.contacts__info {
  font-size: 24px;
}


//adaptive

@include tablet {

  .contacts {
    padding-top: 55px;
  }

  .contacts__item {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@include desktop {

  .contacts {
    padding-top: 75px;
  }

  .contacts__item {
    margin-left: 10px;
    margin-right: 10px;

    &:nth-child(2) {
      order: 1;
    }
  }

  .contacts__promo {
    font-size: 50px;
    margin-bottom: 50px;
  }

}
