.contacts {
  @include container;
  padding-top: 45px;
  padding-bottom: 40px;
  text-align: center;
}

.contacts__promo {
  margin-bottom: 35px;
}

.contacts__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacts__item {
  margin-bottom: 20px;
  flex-basis: $container-width;
  flex-grow: 1;
}

.contacts__title {
  font-size: 18px;
}

.contacts__info {
  font-size: 24px;
}


//adaptive

@include desktop {

  .contacts__item {
    &:nth-child(2) {
      order: 1;
    }
  }

}
