.download {
  background-color: $dark-grey;
  padding-top: 28px;
  padding-bottom: 28px;
}

.download__inner {
  @include container;
  @include clearfix;
}

.download__promo {
  display: none;
  margin-bottom: 30px;
}

.download__list {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 25px;
}

.download__item {
  display: inline-block;
  padding-left: 18px;
  padding-right: 18px;
}

.download__text {
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}


//adaptive

@include tablet {

  .download {
    position: relative;
    z-index: 2;
    margin-top: -530px;
    margin-bottom: 0;
    margin-left: 0;
    background-color: transparent;
  }

  .download__content {
    width: 45%;
  }

  .download__promo {
    display: block;
  }
}

@include desktop {

  .download {
    margin-top: -600px;
  }

  .download__content {
    width: 35%;
  }
}
