.effect {
  padding-top: 50px;
  padding-bottom: 50px;
  display: none;
}

.effect__wrapper {
  @include container;
  position: relative;
  min-height: 276px;
  margin-bottom: 50px;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 238px;
    height: 276px;
    background: url('./../images/icons/icon-timer.svg') center center no-repeat;
    background-size: contain;
  }

  &:after {
    content: "";
    position: absolute;
    top: 55px;
    left: 18px;
    width: 174px;
    height: 174px;
    border: solid 14px $pink;
    border-radius: 50%;
    text-align: center;
  }
}

.effect__number {
  position: absolute;
  top: 105px;
  left: 67px;
  color: $pink;
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
}

.effect__inner {
  margin-left: 50%;
  padding-top: 35px;
}

.effect__title {
  color: #000;
  font-size: 30px;
  font-weight: 700;
}

.effect__descr {
  font-size: 14px;
  font-weight: 400;
}

.effect__link {
  color: $pink;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
}


//adaptive

@include tablet {

  .effect {
    display: block;
  }
}

@include desktop {

  .effect {
    background-color: $light-grey;
    margin-bottom: 20px;
  }

  .effect__inner {
    margin-left: 35%;
    padding-top: 70px;
  }
}
