.footer {
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer__inner {
  @include container;
  display: flex;
  flex-direction: column;
}

.footer__logo {
  text-align: center;
}

.socials__list {
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  margin-right: 15px;

  a {
    display: inline-block;
    vertical-align: middle;
    width: 51px;
    height: 51px;
    border: 3px solid #e9ebec;
    border-radius: 50%;
  }

  &--twitter {
    a{
      background: url('../../images/icons/icon-twitter.svg') center center no-repeat;
    }
  }

  &--facebook {
    a {
      display: inline-block;
      vertical-align: middle;
      width: 48px;
      height: 48px;
      background: url('../../images/icons/icon-facebook.svg') center center no-repeat;
    }
  }

  &--youtube {
    a {
      background: url('../../images/icons/icon-youtube.svg') center center no-repeat;
    }
  }
}


//adaptive

@include tablet {

  .footer__inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .socials__list {
    padding-top: 0;
    padding-bottom: 0;
  }
}
