.footer {
  padding-top: 35px;
  padding-bottom: 35px;

  &--index {
    display: none;
  }
}

.footer__inner {
  @include container;
  display: flex;
  flex-direction: column;
}

.footer__logo {
  text-align: center;

  &--desktop {
    display: none;
  }

  svg path {
    transition: fill 0.3s;
  }

  &:hover {
    svg path {
      fill: $pink;
    }
  }

  &:active {
    svg path {
      opacity: 0.3;
    }
  }
}


//adaptive

@include tablet {

  .footer {
    &--index {
      display: block;
    }
  }

  .footer__inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}


@include desktop {
  .footer__logo {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}

