.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // min-height: 237px;
  height: 100%;
  width: auto;
  background: url('./../images/decor/bg-back-mobile@1x.jpg') center top no-repeat;
  background-size: cover;
}

.header__inner--index {
  // min-height: 462px;
  position: relative;
  z-index: 1;
}

.header__top {
  background-color: rgba(#000, 0.3);
}

.header__photo {
  margin-top: 150px;

    img {
      display: block;
    }
}

.header__title {
  @include container;
  padding-top: 35px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
}


//adaptive

@include tablet {

  .header {
    min-height: 440px;
  }

  .header__inner {
    // min-height: 440px;
  }

  .header--index {
    min-height: 770px;
  }

  .header__inner--index {
    // min-height: 770px;
  }

  .header__photo {
    img {
      height: 545px;
      width: auto;
      margin: 0 auto;
      margin-right: 5%;
    }
  }

  .header__title {
    padding-top: 80px;
    padding-bottom: 135px;
  }
}





