.header {

    @include tablet {
      height: 730px;
    }
  }


.header__inner {
  height: 237px;
  height: 100%;
  width: auto;
  background: url('../../images/decor/bg-back-mobile@1x.jpg') center top no-repeat;
  background-size: cover;
}

.header__inner--index {
  height: 462px;
  position: relative;
  z-index: 1;

    @include tablet {
      height: 730px;
    }
}

.header__photo {

    img {
      position: absolute;
      left: 0;
      bottom: 0;
    }

    @include tablet {

      img {
        left: 45%;
      }
    }
  }

.header__top {
  background-color: rgba(#000, 0.3);
}

.header__top-inner {
  @include container;
  padding-top: 22px;
  padding-bottom: 22px;
  @include clearfix;
  position: relative;
}


.header__logo {
  float: left;
}

.header__title {
  width: $container-width;
  margin: 0 auto;
  margin-top: 35px;
  padding-left: 25px;
  padding-right: 25px;
}
