.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: auto;
  background: url('./../images/decor/bg-back-mobile@1x.jpg') center top no-repeat;
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: url('./../images/decor/bg-back-mobile@2x.jpg') center top no-repeat;
    background-size: 700px; //ширина bg-back-mobile@1x.jpg
  }
}

.header__inner--index {
  position: relative;
  z-index: 1;
}

.header__top {
  background-color: rgba(#000, 0.3);
}

.header__photo {
  margin-top: 80px;

    img {
      display: block;
    }
}

.header__title {
  @include container;
  padding-top: 35px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
}


//adaptive

@include tablet {

  // .header {
  //   min-height: 440px;
  // }

  .header__inner {
    background: url('./../images/decor/bg-back-tablet@1x.jpg') center top no-repeat;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url('./../images/decor/bg-back-tablet@2x.jpg') center top no-repeat;
      background-size: 1200px; //ширина bg-back-tablet@1x.jpg
    }
  }

  .header--index {
    min-height: 660px;
  }

  .header__photo {
    @include container;
    margin-top: 80px;

    img {
      margin: 0 auto;
    }
  }

  .header__title {
    padding-top: 80px;
    padding-bottom: 135px;
  }
}


@include desktop {

  .header--index {
    min-height: 769px;
  }

  .header__inner {
    background: url('./../images/decor/bg-back-desktop@1x.jpg') center top no-repeat;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url('./../images/decor/bg-back-desktop@2x.jpg') center top no-repeat;
      background-size: 2560px; //ширина bg-back-desktop@1x.jpg
    }
  }
}





