.nav__wrapper {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
}

.nav__logo {
  img {
    display: block;
  }
}

.nav__list {
  display: none;
  width: 100%;
  text-align: center;
  background-color: $dark-grey;
}

.nav__toggle {
  width: 20%;
  width: 50px;
  height: 24px;
  outline: none;
  border: none;
  cursor: pointer;
  background: url('./../images/icons/icon-menu-burger.svg') center center no-repeat;
}

.nav.open {
  background-color: $dark-grey;

  .nav__toggle {
    background: url('./../images/icons/icon-menu-cross.svg') center center no-repeat;
  }

  .nav__list {
    display: block;
  }
}

.nav__item {

  a {
    display: block;
    padding-top: 22px;
    padding-bottom: 22px;
    background-color: $dark-grey;
    box-shadow: 0 1px 0 black, inset 0 1px 0 rgba(255, 255, 255, 0.15);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.nav--nojs { //если отключен js - меню открыто, гамбургер скрыт
  background-color: $dark-grey;

  .nav__list {
    display: block;
  }

  .nav__toggle {
    display: none;
  }
}


//adaptive

@include desktop {

  .nav {
    @include container;
    display: flex;
    justify-content: space-between;
  }

  .nav__wrapper {
    flex-basis: 150px;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    flex-basis: 770px;
    flex-grow: 1;
    margin-left: 100px;
    background-color: transparent;
  }

  .nav__toggle {
    display: none;
  }

  .nav__item {

    a {
      background-color: transparent;
      box-shadow: none;
    }
  }
}


