.photos__promo {
  @include container;
  padding-top: 50px;
  padding-bottom: 50px;

  p {
    text-align: center;
    line-height: 2;
    margin: 0;
  }
}

.photos__list {
  @include container;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // align-items: stretch;
  // align-content: stretch;
}

.photos__item {
  margin-bottom: 20px;
  flex-basis: $container-width;
  // flex-grow: 1;

  img {
    display: block;
    margin: 0 auto;
  }

  &--featured {
    position: relative;

    .photos__featured-text {
        position: absolute;
        left: 50%;
        top: 0;
        line-height: 36px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: $pink;
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        z-index: 2;
    }
  }
}

.photos__item-info {
  @include container;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: $light-grey;
  padding: 25px 16px;
}

.photos__author {
  font-weight: 700;
}

.photos__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.photos__like {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: $pink;
  margin-top: auto;
  display: flex;
  align-items: center;


  &:before {
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    margin-right: 18px;
    background: url('./../images/icons/icon-heart.svg') center center no-repeat;
  }
}

.photos__like-text {
  margin-right: 5px;
}

.photos__item--featured {

  img {
    width: 100%;
  }
}


//adaptive

@include tablet {

  .photos__promo {
    p{
      font-size: 18px;
    }
  }

  .photos__item-info {
    width: 100%;
    min-height: 190px;
  }

  .photos__author {
    font-size: 14px;
  }

  .photos__post {
    p {
      font-size: 14px;
    }
  }

  .photos__like {
    &:before {
      order: 2;
      margin-right: 0;
      margin-left: auto;
    }
  }

  .photos__item--featured {
    width: 100%;

    .photos__item-info {
      @include container;
      min-height: auto;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: baseline;
    }

    .photos__featured-text {
      margin-left: 170px;
      top: 55px;
    }

    .photos__author {
      order: 1;
      margin-right: 5px;
    }

    .photos__time {
      order: 2;
    }

    .photos__post {
      order: 4;
      width: 100%;
    }

    .photos__like {
      order: 3;
      margin-left: auto;
      text-align: right;

      &:before {
        margin-left: 15px;
      }
    }
  }
}


@include desktop {

  .photos__item--featured {
    .photos__featured-text {
      margin-left: 330px;
    }
  }
}
