.post-photo {
  background-color: $light-grey;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.post-photo__inner {
  @include container;
}

.post-photo__image {
  margin: 0 auto;
}

.post-photo__tools {
  position: relative;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.post-photo__tool-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  margin-bottom: 30px;
}

.post-photo__tool {
  text-align: center;

  a {
    display: inline-block;
    vertical-align: middle;

    &:hover {
      svg {
        opacity: 0.5;
      }
    }
  }

  svg {
    opacity: 0.3;
  }

  &--active {
    .post-photo__range-toggle {
      background-color: $pink;
    }

    svg {
      opacity: 1;
    }

    svg path.svg-filled {
      fill: $pink;
    }

    a {
      &:hover {
        svg {
          opacity: 1;
        }
      }
    }
  }
}

.post-photo__range {
  position: absolute;
  bottom: 0;
  left: 22px;
  width: calc(100% - 44px);
  height: 2px;
  background-color: $grey;
  margin: 0 auto;
  margin-bottom: 30px;
  display: none;

  &:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    width: $container-width;
    height: 1px;
    margin-left: -22px;
    background-color: rgba(#000, 0.1);
  }

  &--crop {
    display: block;
  }
}

.post-photo__range-toggle {
  position: absolute;
  top: 50%;
  margin-top: -7px;
  right: 30px;
  width: 14px;
  height: 14px;
  border: 2px solid $pink;
  border-radius: 50%;
  background-color: $light-grey;

  &:active {
    background-color: $pink;
  }
}

.post-photo__buttons {
  padding-top: 40px;
}

.post-photo__submit, .post-photo__cancel {
  margin-bottom: 10px;
}


//adaptive

@include tablet {

  .post-photo {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .post-photo__inner {
    display: flex;
    justify-content: space-between;

    picture {
      width: 48%;
    }
  }

  .post-photo__image {
    margin: 0;
  }

  .post-photo__tools-wrapper {
    width: 46%;
    display: flex;
    flex-direction: column;
  }

  .post-photo__tools {
    width: 100%;
    padding-top: 0;
  }

  .post-photo__tool-wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding-right: 15px;
    border-bottom: 1px solid rgba(#000, 0.1);
  }

  .post-photo__tool {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    margin: 0;

    &--crop {
      svg {
        width: 22px;
        height: 22px;
      }
    }

    &--fill {
      svg {
        width: 24px;
        height: 22px;
      }
    }

    &--contrast {
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  .post-photo__range {
    display: inline-block;
    vertical-align: middle;
    width: 78%;
    position: relative;
    left: 0;
    margin-top: 26px;

    &:after {
      display: none;
    }
  }

  .post-photo__buttons {
    margin-top: auto;
  }
}


@include desktop {

  .post-photo__inner {
    justify-content: space-around;

    picture {
      width: 30%;
    }
  }

  .post-photo__tools-wrapper {
    width: 45%;
  }

  .post-photo__tool-wrapper {
    margin-bottom: 10px;
  }

  .post-photo__tool {

    &--crop {
      svg {
        width: 44px;
        height: 44px;
      }
    }

    &--fill {
      svg {
        width: 48px;
        height: 43px;
      }
    }

    &--contrast {
      svg {
        width: 32px;
        height: 32px;
      }
    }
  }

  .post-photo__buttons {
    display: flex;
    justify-content: space-between;
  }

  .post-photo__submit, .post-photo__cancel {
    width: 45%;
  }
}
