.testimonials {
  @include container;
  padding-top: 50px;
  padding-bottom: 30px;
}

.testimonials__item {

  &:nth-child(n+2) {
    display: none;
  }
}

.testimonials__author {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  text-align: center;

  @include tablet {
    font-size: 20px;
  }
}

.testimonials__info {
  display: none;


  @include tablet {
    display: block;
    font-size: 14px;
    text-align: center;
  }
}

.testimonials__text {
  text-align: center;
}


//adaptive

@include tablet {

  .testimonials__item {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 65px;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -39px;
      width: 79px;
      height: 63px;
      background: url('./../images/icons/quotes.svg') center center no-repeat;
    }
  }

  .testimonials__text {
    order: 1;
  }

  .testimonials__author {
    order: 2;
  }

  .testimonials__info {
    order: 3;
  }
}
