/*vars*/

$container-width: 280px;
$font-family: 'Open Sans', 'Arial', sans-serif;
$font-weight: 400;
$font-size: 14px;

/*colors*/

$grey: #283645;
$pink: #d22856;
$dark-grey: #1d2631;
$light-grey: #f2f2f2;



$bg-color: #fff;
$text-color: $grey;

/* responsive */
$tablet-width: 700px;
$desktop-width: 1200px;
